*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
html,body{
  font-family: "微软雅黑", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* 取PS单位的*/
  font-size: 62.5%;
  /* max-width: 750px; */
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1;
  /* background-color: #fff; */
}
.index-banner img,
ul.room-list img,
.index-vr,
.index-team img,
.swiper-container img,
.project-banner img,
.project-crafts img,
.project-manager img,
.concat-banner img,
.service-customize > img,
.config-banner > img{
  display: flex;
  width: 100%;
}
header img{
  display: flex;
  height: 100%;
}
.ml14{
  margin-left: 14px;
}
.plr10{
  padding-left: 10px;
  padding-right: 10px;
}
.ptb15{
  padding-top: 15px;
  padding-bottom: 15px;
}
.flex{
  display: -webkit-flex;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
}
.nav{
  position: fixed;
  /* max-width: 750px; */
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #fff;
  background: url(../imgs/nav_bg.png) 0 0 repeat;
}
.pt52_5{
  padding-top: 52.5px;
}
.logo{
  height: 22.5px;
}
.logo_text{
  height: 12px;
}
.ml7{
  margin-left: 7px;
}
.nav-bar{
  /* justify-content: flex-end; */
  /* justify-self: right; */
  margin-left: auto;
  height: 19px;
  /* text-align: right; */
}
.nav-list{
  position: fixed;
  top: 52.5px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;
  background-color: rgba(0, 156, 226, 0.9);
}
.oh{
  overflow: hidden;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:active{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.9);
}
.theme{
  color: #009ce2;
}
.theme-bg{
  background-color: #009ce2;
}
.nav-list > ul{
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.nav-list > ul > li{
  width: 25%;
  margin-top: 24px;
}
.nav-list > ul > li > a{
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 24px;
  position: relative;
  line-height: 30px;
  font-size: 1.4rem;
}
.nav-list > ul > li > a::before{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  content: "";
  height: 24px;
  width: 24px;
  background-image: url(../imgs/nav_icon.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 304.5px 98.5px;
}
.nav-list > ul > li:nth-child(2) > a::before{
  background-position: -95px 0;
}
.nav-list > ul > li:nth-child(3) > a::before{
  background-position: -186px 0;
}
.nav-list > ul > li:nth-child(4) > a::before{
  background-position: -280px 0;
}
.nav-list > ul > li:nth-child(5) > a::before{
  background-position: 0 -74.5px;
}
.nav-list > ul > li:nth-child(6) > a::before{
  background-position: -95px -74.5px;
}
.nav-list > ul > li:nth-child(7) > a::before{
  background-position: -186px -74.5px;
}
.nav-list > ul > li:nth-child(8) > a::before{
  background-position: -280px -74.5px;
}
.fn14{
  font-size: 1.4rem;
}
.none{
  display: none;
}
.mt10{
  margin-top: 10px;
}
.mt20{
  margin-top: 20px;
}
.text-center{
  text-align: center;
}
.fn19{
  font-size: 1.9rem;
}
.border-lr{
  position: relative;
}

.border-lr::before{
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 40px;
  height: 1px;
  background-color: #ddd;
  transform: translateX(-113.25px);
  /* margin-left: -113.25px; */
}
.border-lr::after{
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 40px;
  height: 1px;
  background-color: #ddd;
  /* margin-left: 73.25px; */
  transform: translateX(73.25px);
}
.border-lr.tym-case:before{
  transform: translateX(-89.5px);
}
.border-lr.tym-case:after{
  transform: translateX(49.5px);
}

.index-process .border-lr::before{
  transform: translateX(-127.45px);
}
.index-process .border-lr::after{
  /* 14.2 */
  transform: translateX(87.45px);
}
.index-parent .border-lr::before{
  transform: translateX(-128.45px);
}
.index-parent .border-lr::after{
  /* 14.2 */
  transform: translateX(88.45px);
}
.ml3{
  margin-left: 3px;
}
.fn11{
  font-size: 1.1rem;
}
.c4{
  color: #444;
}
ul.room-list{
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}
ul.room-list > li{
  width: calc(50% - 6px);
  overflow: hidden;
}
ul.room-list > li > a{
  display: block;
  position: relative;
}
.brt6{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
ul.room-list > li > a > .desc{
  /* position: absolute;
  left: 0;
  right: 0;
  bottom: 0; */
  height: 30px;
  line-height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 6px;
  padding-right: 6px;
  color: #444;
  text-align: center;
  background-color: #f1f1f1;
  /* background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)); */
}
.mtl_6{
  margin-left: -6px;
  margin-top: -6px;
}
.mtl6{
  margin-left: 6px;
  margin-top: 6px;
}
.br6{
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.fn10{
  font-size: 1rem;
}
.mb15{
  margin-bottom: 15px;
}
.mb20{
  margin-bottom: 20px;
}
.mb25{
  margin-bottom: 25px;
}
.white{
  color: #fff;
}
.theme-btn{
  background-color: #009ce2;
  color: #fff;
  display: block;
  text-align: center;
  height: 34px;
  line-height: 34px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.theme-btn > i{
  /* vertical-align: middle; */
  padding-top: 2px;
}
.fn13{
  font-size: 1.3rem;
}
.index-team{
  background: url(../imgs/person.png) center center no-repeat;
  background-size: 375px 405.5px;
  height: 405.5px;
}
.mt30{
  margin-top: 30px;
}
.pt30{
  padding-top: 30px;
}
.fn11{
  font-size: 1.1rem;
}
.ml6{
  margin-left: 6px;
}
.mt9{
  margin-top: 9px;
}
.index-team{
  width: 375px;
  margin-left: auto;
  margin-right: auto;
}
.flex-right{
  justify-content: flex-end;
}
.index-team .prev,
.index-team .next{
  width: 40px;
  height: 25px;
  line-height: 25px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  color: #fff;
}
.index-team .next{
  background-color: #ee771d;
}
.mt69{
  margin-top: 69px;
}
.mt6{
  margin-top: 6px;
}
.w_55{
  width: 55%;
}
.ml_45{
  margin-left: 45%;
}
.c9{
  color: #999;
}
.mt17{
  margin-top: 17px;
}
.ln24{
  line-height: 24px;
}
.pl20{
  padding-left: 20px;
}
.mt10{
  margin-top: 10px;
}
.ln11{
  line-height: 1.1;
}
.ln15{
  line-height: 1.5;
}
.index-team .order-btn,
.index-team .look-btn{
  display: flex;
  width: 80%;
  background-color: #ee771d;
  color: #fff;
  height: 20px;
  line-height: 20px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  justify-content: center;
}
.index-team .look-btn{
  background-color: transparent;
  border: 1px solid #fff;
  line-height: 18px;
}
.w105{
  width: 105px;
}
.c8{
  color: #888;
}
.c5{
  color: #555;
}
.c2{
  color: #222;
}
.lh14{
  line-height: 1.4;
}
.ml10{
  margin-left: 10px;
}
.clamp2{
  overflow:hidden; 
  text-overflow:ellipsis;
  display:-webkit-box; 
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2; 
}
.index-news > ul.list > li{
  padding: 6px;
  box-shadow: 0 3px 5px #b0b0b0;
}
.index-news > ul.list > li + li{
  margin-top: 10px;
}
.mtb20{
  margin-top: 20px;
  margin-bottom: 20px;
}
.index-process{
  background: url(../imgs/process_bg.png) center center no-repeat;
  background-size: 375px 180px;
  /* height: 180px; */
}

.pt17{
  padding-top: 17px;
}
.mb17{
  margin-bottom: 17px;
}

.index-process > ul{
  justify-content: center;
  text-align: center;
  align-items: stretch;
}
.index-process > ul > li{
  flex: 1;
}
.index-process > ul > li .iconfont{
  font-size: 3rem;
  line-height: 45px;
}
.index-process > ul > li:nth-child(odd) .icon{
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #fff;
}
.index-process > ul > li:nth-child(odd) img{
  width: 22px;
}
.pt20{
  padding-top: 20px;
}
.ptb20{
  padding-top: 20px;
  padding-bottom: 20px;
}
.index-parent > ul{
  display: flex;
  justify-content: space-between;
}
.index-parent > ul a{
  display: block;
}
.index-parent > ul img{
  width: 116px;
}
.bg-f4{
  background-color: #f4f4f4;
}
.bg-2e{
  background-color: #2e2e2e;
}
.logo-footer{
  height: 22.5px;
  opacity: 0.45;
}
.index-info{
  color: #c4c3c3;
  font-size: 1rem;
}
.index-info .tel > div{
  flex: 1;
  line-height: 30px;
}

.index-info .copy > div{
  line-height: 20px;
  white-space: nowrap;
}
.pb55{
  padding-bottom: 55px;
}
.fixed-bottom{
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 55px;
  border-top: 1px solid #ddd;
  z-index: 10;
  font-size: 1rem;
  background-color: #009ce2;
}
.fixed-bottom > ul{
  display: flex;
  height: 100%;
  
}
.fixed-bottom > ul > li{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fixed-bottom > ul a{
  color: #fff;
  display: block;
  text-align: center;
  position: relative;
}
.fixed-bottom > ul img{
  width: 18px;
  margin-bottom: 5px;
}
.fixed-bottom > ul a .num{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(3px) translateY(-3px);
  width: 15px;
  height: 15px;
  line-height: 15px;
  border-radius: 50%;
  background-color: #f21313;
  color: #fff;
}
.vr-banner{
  background: url(../imgs/vr_banner.png) center center no-repeat;
  height: 140px;
  background-size: 375px 140px;
}
.relative{
  position: relative;
}
.absolute-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.fn25{
  font-size: 2.5rem;
}
.nowrap{
  white-space: nowrap;
}
.vr-tabs{
  display: flex;
  justify-content: space-evenly;
}
.vr-tabs a{
  display: block;
  color: #222;
  height: 35px;
  line-height: 35px;
}
.vr-tabs > li{
  padding-left: 10px;
  padding-right: 10px;
}
.vr-tabs .active{
  border-bottom: 3px solid #009ce2;
}
.bg-f1{
  background-color: #f1f1f1;
}
input,
textarea,
select{
  outline: none;
}
.vr-tab-type{
  display: flex;
}
.vr-tab-type > .item{
  flex: 1;
  height: 26px;
  line-height: 26px;
  border: 1px solid #ddd;
  /* margin-left: -1px; */
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.vr-tab-type > .item + .item{
  border-left: none;
}
.vr-tab-type .type-details{
  position: absolute;
  top: 26px;
  left: 0;
  right: 0;
  padding: 20px 10px;
  background-color: #fff;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 9;
  margin-left: -10px;
  margin-right: -10px;

  /* justify-content: space-between; */
}
.vr-tab-type .type-details > ul{
  display: flex;
  flex-wrap: wrap;
  margin-left: -9px;
 }
.vr-tab-type .type-details > ul > li{
  width: 82px;
  background-color: #fff;
  height: 34px;
  line-height: 34px;
  margin-top: 9px;
  margin-left: 9px;
}
.vr-tab-type .type-details > ul > li > a{
  display: block;
  color: #666;
  text-align: center;
}
.vr-tab-type .type-details > ul > li.active{
  border: 1px solid #009ce2;
  
}
.vr-tab-type .type-details > ul > li.active > a{
  color: #009ce2;
}
.none{
  display: none;
}
/* .tab-type-details{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 266.5px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 101;
} */
.mlr_10{
  margin-left: -10px;
  margin-right: -10px;
}
.c0{
  color: #000;
}
.vr-list a{
  position: relative;
}
.vr-list a::before{
  position: absolute;
  content: "";
  width: 30px;
  height: 28.5px;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  transform: translateX(-50%) translateY(-50%);
  background: url(../imgs/vr_360.png);
  background-size: 30px 28.5px;
}
.ml_6{
  margin-left: -6px;
}
.more-btn{
  display: block;
  color: #666565;
  height: 25px;
  line-height: 25px;
}
.vr-example > .title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vr-example .back-btn{
  font-size: 1.1rem;
  height: 22px;
  line-height: 20px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  border: 1px solid #009ce2;
  padding-left: 15px;
  padding-right: 15px;
}
.example-info{
  padding-left: 15px;
  padding-right: 15px;
}

.example-info > .item > ul{
  display: flex;
  flex-wrap: wrap;
}
.example-info > .item + .item{
  border-top: 1px solid #ddd;
}
.example-info ul.info li:nth-child(odd){
  width: 100px;
}
.example-info ul.info li:nth-child(even){
  width: calc(100% - 100px);
}
.example-info > .item .person_icon{
  width: 33px;
  border-radius: 50%;
}
.example-info .designer > li:first-child{
  display: flex;
}
.example-info .designer{
  justify-content: space-between;
  align-items: center;
}
.example-info .designer .chat-btn{
  display: flex;
  width: 130px;
  height: 25px;
  line-height: 25px;
  -webkit-border-radius: 12.5px;
  border-radius: 12.5px;
  justify-content: center;
  background-color: #009ce2;
  color: #fff;
}
.lh20{
  line-height: 20px;
}
.vr-example article .img-center{
  display: block;
  width: 182px;
  margin-left: auto;
  margin-right: auto;
}
.fn15{
  font-size: 1.5rem;
}

.tese > div + div {
  margin-top: 10px;
}
.project-tabs{
  display: flex;
  justify-content: space-between;
}

.project-tabs > li a{
  display: flex;
  justify-content: center;
  color: #222;
  height: 35px;
  line-height: 35px;
}
.project-tabs > li.active a{
  border-bottom: 3px solid #009ce2;
}
.fn35{
  font-size: 3.5rem;
}
.fn13{
  font-size: 1.3rem;
}
.italic{
  font-style: italic;
}
.project-crafts .title-bg{
  /* position: relative; */
  background: url(../imgs/project_crafts.png) 0 0 no-repeat;
  /* height: 173px; */
  background-size: auto 173px;
  background-color: rgba(0, 0, 0, .6);
}
.project-crafts .title-bg .border{
  width: 3px;
  height: 20px;
  background-color: #009ce2;
}
.project-crafts > .title > .num{
  position: relative;
  width: 27px;
  height: 27px;
  background-color: #fdd8bd;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
}
.project-crafts > .title > .num::before{
  position: absolute;
  content: "14";
  font-size: 3.5rem;
  font-weight: bold;
  bottom: 5px;
  left: 0;
  z-index: 1;
}
.bold{
  font-weight: bold;
}
.project-crafts .look-btn{
  display: flex;
  width: 100%;
  background-color: #009ce2;
  color: #fff;
  justify-content: center;
  font-size: 1.1rem;
  height: 25px;
  line-height: 25px;
  -webkit-border-radius: 12.5px;
  border-radius: 12.5px;
}
.mt15{
  margin-top: 15px;
}
.pt6{
  padding-top: 6px;
}
.pt28{
  padding-top: 28px;
}
.pb24{
  padding-bottom: 24px;
}
.c7{
  color: #777;
}
.ml_auto{
  margin-left: auto;
  margin-right: auto;
}
#carousel {
  display: -webkit-flex;
  display: flex;
}
#carousel img{
  flex: 1;
}

.project-manager{
  background: url(../imgs/project_manager_bg.png) center center no-repeat;
  height: 341px;
}
.pt22_5{
  padding-top: 22.5px;
}
.project-manager .manager-btn{
  display: flex;
  justify-content: center;
  background-color: #009ce2;
  color: #fff;
  height: 25px;
  line-height: 25px;
  font-size: 1.1rem;
  -webkit-border-radius: 12.5px;
  border-radius: 12.5px;
}
.project-price{
  background: url(../imgs/project_price_bg.png) center center no-repeat;
  height: 280.5px;
}
.pt39{
  padding-top: 39px;
}
.white{
  color: #fff;
}
.fn16{
  font-size: 1.6rem;
}
.block-input,
.block-select{
  display: block;
  width: 100%;
  border: none;
  height: 30px;
  line-height: 30px;
  padding: 6px 8px;
}
.lh30{
  line-height: 30px !important;
}
.h30{
  height: 30px !important;
}
.c6{
  color: #666;
}
.pb15{
  padding-bottom: 15px;
}

.advange-material > ul{
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  justify-content: center;
  margin-left: -10px;
}
.advange-material > ul > li{
  margin-left: 10px;
  margin-top: 10px;
}
.advange-material > ul > li > img{
  display: block;
  height: 29.5px;
}
.adv-country{
  background: url(../imgs/adv_country_bg.png) center center no-repeat;
  background-size: auto 303.5px;
  height: 303.5px;
}
.fn8{
  font-size: .8rem;
}
.adv-country > ul img{
  width: 39px;
}
.adv-country > ul{
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}
.pb20{
  padding-bottom: 20px;
}
.mtb15{
  margin-top: 15px;
  margin-bottom: 15px;
}
.adv-ensure > ul > li{
  display: flex;
  align-items: center;
}
.adv-ensure > ul > li > img{
  width: 170px;
}
.pl10{
  padding-left: 10px;
}
.adv-ensure .num{
  background-image: -webkit-linear-gradient(top, #1ca7e5, #44bcf3, #75caf1 ,#fdf2ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mt_8{
  margin-top: -8px;
}
.pr10{
  padding-right: 10px;
}
.adv-break{
  background: url(../imgs/adv_break_bg.png) center center repeat;
  background-size: 375px auto;
}
.white-bg{
  background-color: #fff;
}
.ptb10{
  padding-top: 10px;
  padding-bottom: 10px;
}
.adv-break .break-text .break-icon{
  position: absolute;
  top: 0;
  left: 25px;
  height: 57px;
  margin-top: -20px;
}
.adv-list{
  background: url(../imgs/adv_list_bg.png) center center no-repeat;
  background-size: auto 196.5px;
  height: 196.5px;
}
.fn100{
  font-size: 10rem;
}
.p20{
  padding: 20px;
}
.adv-list .text{
  background-color: rgba(0, 0, 0, .7);
  position: absolute;
  top: 50%;
  left: 10px;
  right: 10px;
  transform: translateY(-50%);
}
.adv-list .text .title{
  display: flex;
  flex-wrap: nowrap;
  height: 30px;
  overflow: hidden;
}
.ml_50{
  margin-left: -50px;
}

.mr_50{
  margin-right: -50px;
}
.mt_10{
  margin-top: -10px;
}
.dialog-bg{
  position: fixed;
  top: 52.5px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8;
  background-color: rgba(0, 0, 0, .5);
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}
.dialog{
  padding: 20px 10px 10px 20px;
  background-color: #fff;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  z-index: 9;
  position: fixed;
  top: 50%;
  left: 10px;
  right: 10px;
  transform: translateY(-50%);
  max-width: 355px;
  margin-left: auto;
  margin-right: auto;
}
.dialog-close{
  float: right;
  color: #999;
  font-weight: normal;
  cursor: pointer;
}
.dialog textarea{
  resize: none;
  display: block;
  padding: 3px 6px;
  outline: none;
  border: 1px solid #ddd;
  width: 100%;
  height: 80px;
}
.fn20{
  font-size: 2rem;
}
.calcultor{
  width: 18px;
  vertical-align: middle;
}
.mtb10{
  margin-top: 10px;
  margin-bottom: 10px;
}
.dialog .title-bg{
  background: url(../imgs/dialog_pic01.png) center center no-repeat;
  height: 28px;
  background-size: auto 28px;
  line-height: 28px;
}
.dialog form select,
.dialog form input{
  border: 1px solid #ddd;
  height: 30px !important;
  line-height: 30px !important;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.dialog .theme-btn{
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
.w12_5{
  height: 12.5px;
}
.dialog img.w12_5{
  vertical-align: middle;
}
.project-accept{
  background: url(../imgs/project_accept.png) center center no-repeat;
  height: 259.5px;
  background-size: auto 259.5px;
}
/* .project-accept .box{
  width: 355px;
  overflow: hidden;
} */
.project-accept .swiper-slide{
  height: 140px;
  padding: 15px 6px 10px 10px;
  background-color: #fff;
  -webkit-border-radius: 6px;
  border-radius: 6px; 
  /* margin-left: 6px; */
  overflow: hidden;
}
.project-accept .swiper-slide .title{
  border-bottom: 3px solid #009ce2;
}
.fn9{
  font-size: .9rem;
}
.concat-banner{
  background: url(../imgs/concat_banner.png) center center no-repeat;
  background-size: auto 140px;
  height: 140px;
  max-width: 375px;
}
.concat-us .logo{
  height: 18px;
}
.pt25{
  padding-top: 25px;
}
.concat-us{
  background: url(../imgs/concat_bg.png) center center no-repeat;
  height: 192.5px;
  background-size: auto 192.5px;
}
.fn18{
  font-size: 1.8rem;
}
#map{
  height: 204px;
}
.ptb25{
  padding-top: 25px;
  padding-bottom: 25px;
}
#join > ul > li{
  background-color: #fff;
  padding-left: 3px;
  padding-right: 3px;
}
#join > ul > li + li {
  margin-top: 10px;
}
#join > ul a{
  display: block;
  font-size: 1rem;
  color: #222;
  line-height: 30px;
  border-bottom: 1px solid #ddd;
}
#join .apply{
  display: flex;
  justify-content: flex-end;
}
#join .apply .apply-btn{
  border: 2px solid #f21313;
  color: #f21313;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  height: 25px;
  line-height: 21px;
}
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
.pull-left{
  float: left !important;
}
.pull-right{
  float: right !important;
}
.concat-tabs{
  justify-content: center;
}
.concat-tabs li + li{
  margin-left: 40px;
}
.concat-tabs > li.active a{
  padding-left: 10px;
  padding-right: 10px;
}
.anchorBL{
  display: none;
}
.culture-banner{
  background: url(../imgs/culture_banner.png) center center no-repeat;
  height: 140px;
  background-size: auto 140px;
}
.pt15{
  padding-top: 15px;
}
.pb30{
  padding-bottom: 30px;
}
.o2{
  opacity: 0.2;
}
.fn40{
  font-size: 4rem;
}
.culture-info .title,
.culture-list .title{
  position: relative;
}
.culture-info .title::before,
.culture-list .title::before{
  content: "";
  width: 40px;
  height: 3px;
  background-color: #1ca7e5;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -10px;
}
.culture-list > ul{
  display: flex;
  flex-wrap: wrap;
  margin-left: -6px;
}
.culture-list > ul li{
  background-color: #fff;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 10px 6px;
  width: calc(50% - 6px);
  height: 170px;
  overflow: hidden;
}
.culture-list > ul li{
  margin-left: 6px;
  margin-top: 6px;
}
.culture-list > ul li img{
  height: 22px;
}
.desinger-info img{
  width: 66px;
}
.desinger-info .name > span{
  border-left: 1px solid #888;
  padding-left: 6px;
  margin-left: 6px;
}
.desinger-list > .more-btn{
  display: block;
  text-align: center;
  color: #666565;
  font-size: 1.1rem;
  background-color: #f1f1f1;
  height: 28px;
  line-height: 28px;
  margin-top: 20px;
}
.desinger-team > ul .bg-f1{
  display: flex;
  align-items: center;
} 
.desinger-team > ul .bg-f1 img{
  width: 132.5px;
}
.desinger-team > ul .bg-f1 .info{
  padding-left: 6px;
  padding-right: 3px;
}
.desinger-team > ul .info .name > span{
  padding-left: 6px;
  font-weight: normal;
  border-left: 1px solid #666;
}
.mb10{
  margin-bottom: 10px;
}
.desinger-team .look-btn,
.desinger-team .chat-btn{
  width: calc(50% - 3px);
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: white;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  background-color: #1ca7e5;
  font-size: 1.1rem;
}
.desinger-team .chat-btn{
  background-color: #383838;
}
.mtb30{
  margin-top: 30px;
  margin-bottom: 30px;
}
.desinger-team .more-btn{
  background-color: #f1f1f1;
  color: #666565;
  height: 28px;
  line-height: 28px;
  text-align: center;
  font-size: 1.1rem;
}
.news .author{
  display: flex;
  justify-content: center;
}
.news .content{
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #ddd;
}
.service-customize .flex.icon{
  margin-left: -30px;
  align-items: center;
  text-align: center;
}
.service-customize .flex.icon img{
  width: 19.5px;
  margin-left: auto;
  margin-right: auto;
}
.service-customize .flex.icon .item{
  padding-top: 6px;
  padding-bottom: 6px;
  /* height: 47px; */
  width: 53px;
  background-color: #0098e1;
  margin-left: 30px;
  border-radius: 12px;
  border-bottom-right-radius: 0;
}
.fn60{
  font-size: 6rem;
}
.theme-deep{
  color: #925121;
}
.w18_5{
  width: 18.5px !important;
}
.service-customize .price .quality{
  height: 25px;
  line-height: 25px;
  -webkit-border-top-left-radius: 18px;
  -webkit-border-bottom-right-radius: 18px;
  border-top-left-radius: 18px;
  border-bottom-right-radius: 18px;
  padding-left: 15px;
  padding-right: 15px;
  background-image: -webkit-linear-gradient(#68effd, #10a5e5);
  background-image: linear-gradient(#68effd, #10a5e5);
}
.border-tb{
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.fn18{
  font-size: 1.8rem;
}
.service-customize .type{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 470px;
}
#iconNav .swiper-slide .item{
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #10a5e5;
  width: 50px;
  height: 50px;
  padding-top: 4px;
  margin-left: 10px;
  text-align: center;
  line-height: 1.5;
  font-size: .7rem;
  padding-top: 6px;
}
#iconNav img{
  width: auto !important;
  height: 15px !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
}
#iconNav .swiper-slide .item.active ,
.service-customize ul.type > li.active{
  background-color: #10a5e5;
  color: #fff;
}
.service-customize .type  img{
  width: 17px;
}
.fn7{
  font-size: .7rem;
}
.config-banner{
  background: url(../imgs/service_config.png) center center repeat;
}
.config-banner .text{
  background-color: #fff;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px;
  position: relative;
  top: -20px;
}

.serivce-reform{
  background: url(../imgs/service_reform.png) center center no-repeat;
  height: 282.5px;
  background-size: auto 282.5px;
}
.serivce-reform > .text{
  position: absolute;
  top: 50%;
  left: 20px;
  right: 0;
  transform: translateY(-50%);
}
.ls3{
  letter-spacing: 3px;
}
.pt34{
  padding-top: 34px;
}
.serivce-pain{
  background: url(../imgs/service_hardcover_bg.png) center center repeat;
  background-size: 375px auto;
}
.pb40{
  padding-bottom: 40px;
}
.serivce-pain > ul > li{
  background-color: #fff;
  padding: 15px 20px 15px 10px;
}
.serivce-pain > ul > li > .title{
  border-left: 3px solid #009ce2;
  padding-left: 10px;
}
.serivce-pain > ul > li + li{
  margin-top: 6px;
}
.service-reform3 > ul{
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
}
.service-reform3 > ul > li{
  margin-left: 10px;
  margin-top: 10px;
  width: calc(50% - 10px);
}
.service-reform3 img,
.old-room-list img,
.service-free img{
  display: block;
  width: 100%;
}
.service-old{
  background: url(../imgs/service_old.png) center center no-repeat;
  height: 167px;
  background-size: auto 167px;
}
.service-old > .text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
}
.old-room-list > ul{
  display: flex;
  flex-wrap: wrap;
}
.old-room-list > ul > li{
  margin-left: 6px;
  margin-top: 6px;
  width: calc(50% - 6px);
  position: relative;
}
.old-room-list > ul > li .desc{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .4);
  overflow: hidden;
  white-space: nowrap;
  height: 57.8px;
  padding: 10px 6px;
}
.old-room-last{
  background: url(../imgs/service100.png) center top no-repeat;
  /* height: 163.5px; */
  background-size: auto 163.5px;
}
.bg-f6{
  background-color: #f6f6f6;
}
.service-free .text{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background-color: #10a5e5;

}
.text-ellipsis{
  max-width: 355px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.service-free ul{
  display: flex;
  flex-wrap: wrap;
  margin-left: -6px;
}

.service-free ul > li {
  margin-top: 6px;
  margin-left: 6px;
  width: calc(33.333% - 6px);
}
.fn8{
  font-size: .8rem;
}
.index-nav > ul {
  display: flex;
  flex-wrap: wrap;
}
.index-nav > ul > li{
  margin-left: 10px;
  margin-top: 10px;
  background-color: #fff;
  width: calc(50% - 10px);
  display: flex;
  padding: 6px;
  align-items: center;
  cursor: pointer;
}
.index-nav > ul > li img{
  display: block;
  height: auto;
  width: 30px;
  margin-right: 6px;
}
.tym-example .desc{
  background-color: rgba(0, 0, 0, .4);
  height: 25px;
  line-height: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; 
  text-align: center;
}
.index-vip{
  background: url(../imgs/vip_bg.png) center center repeat;
  margin-left: -10px;
}
.index-vip > ul{
  display: flex;
  width: 100%;
}
.index-vip > ul > li{
  margin-left: 10px;
  width: 115px;
  /* width: calc(33.3333% - 10px); */
  height: 158px;
  padding-left: 10px;
  padding-top: 10px;
  line-height: 1.5;
  font-size: 1.1rem;
}
.index-vip > ul > li:nth-child(1){
  background: url(../imgs/vip1.png) center center no-repeat;
  /* width: ; */
  background-size: auto 158px;
  color: #6784b9;
}
.index-vip > ul > li:nth-child(2){
  background: url(../imgs/vip2.png) center center no-repeat;
  /* width: ; */
  background-size: auto 158px;
  color: #ae7e4e;
}
.index-vip > ul > li:nth-child(3){
  background: url(../imgs/vip3.png) center center no-repeat;
  /* width: ; */
  background-size: auto 158px;
  color: #baba50;
}
.index-team .tip{
  position: absolute;
  right: 10px;
  top: 0;
  width: 135px;
  padding: 10px;
  background-color: #0093df;
}
.op42{
  opacity: .42;
}

.index-team .designer{
  display: flex;
  align-items: center;
  /* padding-top: 40px; */
  position: relative;
  margin-top: 90px;
  /* border: 1px solid #fff;
  border-radius: 10px; */
  /* overflow: hidden; */
}
.index-team .designer::before{
  border: 1px solid #fff;
  border-radius: 10px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 19px;
  content: "";
}
.index-team .designer .order-btn{
  background-color: #0093df;
  width: 140px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
}
.index-team .designer .look-btn{
  background-color: transparent;
  width: 140px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
}
.index-team .designer img{
  display: block;
  width: 150px;
  position: relative;
  top: -20px;
}

.decoration-baike img{
  vertical-align: middle;
}













@font-face {
  font-family: 'iconfont';  /* Project id 2547945 */
  src: url('https://at.alicdn.com/t/font_2547945_ptt1vytmjjl.woff2?t=1621088343324') format('woff2'),
       url('https://at.alicdn.com/t/font_2547945_ptt1vytmjjl.woff?t=1621088343324') format('woff'),
       url('https://at.alicdn.com/t/font_2547945_ptt1vytmjjl.ttf?t=1621088343324') format('truetype');
}
.iconfont{
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}